=border-box
  +box-sizing(border-box)
  
body
  font-family: $bodyFont
  font-size: ms(1)
  font-weight: normal
  line-height: 1.25em

h1
  font-weight: normal
  font-size: ms(6)
  line-height: 1.25em

h2
  font-weight: normal
  font-size: ms(5)
  line-height: 1.25em

h3
  font-weight: normal
  font-size: ms(4)
  line-height: 1.25em

h4
  font-weight: normal
  font-size: ms(3)
  line-height: 1.25em

h5
  font-weight: bold
  font-size: ms(2)
  line-height: 1.25em

h6
  font-weight: bold
  font-size: ms(1)
  line-height: 1.25em

p
  margin-bottom: 1em


div, header, section, footer, aside, nav, ul, li
  +border-box
  border: 1px dashed #BBB
