!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
-# <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
-# <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

%head
  %meta{'charset': 'utf-8'}
  %meta{'http-equiv': 'X-UA-Compatible', 'content': 'IE=edge,chrome=1'}
  %title johodb - The Web Doesn't NEED servers.
  %meta{'name': 'description', 'content': ''}
  %meta{'name': 'viewport', 'content': 'width=device-width'}
  %link{'href': "http://fonts.googleapis.com/css?family=Orbitron|Source+Sans+Pro:300,300italic,600,600italic", 'rel': 'stylesheet', 'type': 'text/css'}
  %link{'rel': 'stylesheet', 'href': 'css/style.css'}
  %link{'rel': 'stylesheet', 'href': 'css/pygments.css'}
  %script{'type': 'text/javascript', 'src': 'components/modernizr.js'}
  %script{'type': 'text/javascript', 'src': 'components/q.min.js'}
  %script{'type': 'text/javascript', 'src': 'components/jquery-1.9.1.min.js'}
  %script{'type': 'text/javascript', 'src': 'components/sha1.js'}
  %script{'type': 'text/javascript', 'src': 'components/johodb.js'}
  %script{'type': 'text/javascript', 'src': 'js/page.js'}

<body>
-# <!--[if lt IE 7]>
-# <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
-# <![endif]-->

%header
  %h1.johodb joho<em>db</em><span class="version">0.0.1</span>
  %nav
    %ul.nav
      %li
        %a{'href': '#introduction'} Introduction
      %li
        %a{'href': '#gettingStarted'} First Steps
      %li
        %a{'href': '#init'} Initialisation
      %li
        %a{'href': '#goodToGo'} Data In
      %li
        %a{'href': '#queries'} Data Out
      %li
        %a{'href': '#diveIn'} Try it out now!
      %li
        %a{'href': '#roadmap'} Roadmap
      %li
        %a{'href': '#contributing'} Contributing
      %li
        %a{'href': '#whoami'} Who Am I?


%section.demonstration
  %section#introduction
    %h2 It's time to cut the cord.
    %p Web clients shouldn't need servers, and the technology to make it happen exists today. It's not very nice to use though, so <span class="johodb">joho<em>db</em></span> is here to change that. Use WebSQL and IndexedDB from one easy API, lets get started.
  %section#gettingStarted
    %h2 First Steps
    :markdown
      Create a new instance of johodb, giving it a **database name** and **version**.
    .syntax
      :highlight
        db = new JohoDB("dbName", 20);
    :markdown
      Now you create a schema for your models, just like you would with a relational database.
    .syntax
      :highlight
        db.addSchema("Person", {
          id: {type: "string", primaryKey: true, autoHash: true},
          firstName: {type: "string", required: true},
          lastName: {type: "string", required: true},
          age: {type: "int"},
          house: {type: "fk", relation: "House",
                  relatedName: "residents", onDelete: "setNull"}
        });

        db.addSchema("House", {
          id: {type: "string", primaryKey: true, autoHash: true},
          address: {type: "string", required: true},
          suburb: {type: "string", required: true},
          postCode: {type: "string", required: true}
        });

        db.addSchema("Pet", {
          id: {type: "string", primaryKey: true, autoHash: true},
          name: {type: "string", required: true},
          age: {type: "int", required: true},
          owners: {type: "m2m", relation: "Person", relatedName: "pets"}
        });
  %section#init
    %h2 Initialisation
    :markdown
      Now we can start up our database. In this case we're going to use the clobber option so we can start from scratch every time, but of course in production that wouldn't be the case. We're also going to use [Modernizr](http://modernizr.com) to feature detect the most appropriate database to use.
    .syntax
      :highlight
        if (Modernizr.indexeddb) {
          db.initDB("indexedDb", {clobber: true})
        } else if (Modernizr.websqldatabase) {
          db.initDB("webSql", {clobber: true})
        }
  %section#goodToGo
    %h2 Putting Data In
    :markdown
      That's it, your database is ready to rock and roll! <span class="johodb">joho<em>db</em></span> uses promises so it hides all the hard parts of asynchronous logic, and even if you started saving things immediately it would always wait until the database is ready.

      Let's save an object now:
    .syntax
      :highlight
        db.models.House.save({
          address: "25 Montgomery Way",
          suburb: "Hobart",
          postCode: "7000"
        })
    :markdown
      Easy, yes? This returns a promise so if you needed the resulting object (and it's primary key) you can use **.then()**:
    .syntax
      :highlight
        db.models.House.save({
          address: "192 Sandy Bay Rd",
          suburb: "Sandy Bay",
          postCode: "7005"
        }).then(function(newHouse){
          db.models.Person.save({
            firstName: "Joe",
            lastName: "Bloggs",
            age: 28,
            house: newHouse
        });
    :markdown
      What did we do there? Well, we took the new House object, and put it straight into a new Person. The save method finds the primary key of the house and badabing badaboom, you've got yourself a Foreign Key Relationship.
  %section#queries
    %h2 Getting Data Out
    :markdown
      What now? If you want to query the database you use the **query()** method. Those of you familiar with [Django](http://djangoproject.com) will be right at home with the syntax. Lets try it out.
    .syntax
      :highlight
        promise = db.models.House.query().all().evaluate()
        promise.then(function(results) {
          console.log(results); // results is an array of Houses
        });
    :markdown
      What's going on? **query()** starts the process, **all()** gives it a parameter to search by, in this case all objects, and **evaluate()** pulls the trigger. The database won't get hit until **evaluate()** is called. Let's try a proper query:
    .syntax
      :highlight
        promise = db.models.House.query()
                           .filter({suburb="Hobart"}).evaluate()
        // returns Houses with Suburb == "Hobart"
    :markdown
      Need a little more detail? How about this:
    .syntax
      :highlight
        promise = db.models.House.query()
                           .filter({postCode__gt="7002"})
                           .exclude({suburb="Kingston"})
                           .evaluate()
        // returns Houses with a Postcode greater than 7002
        //         but NOT if they're in the Suburb of Kingston
  %section#diveIn
    %h2 Sounds good? Try it now!
    %p <span class="johodb">joho<em>db</em></span> is a brand new project. It still requires a lot of feature work before it can be considered production ready, but if you want to try it out you're more than welcome to do so. 
    %p This library currently depends on the <a href="https://github.com/kriskowal/q">Q library</a> by Kris Kowal and the <a href="http://code.google.com/p/crypto-js/">SHA1 library from CryptoJS</a>.
  %a.source{'href': 'https://bitbucket.org/MalucoMarinero/johodb'}
    Get it at Bitbucket!
  %section#roadmap
    %h2 The Road to v1.0.0
    %ol
      %li
        %h3 Data Validation
        %p While the scaffolding is sort of there, there's no proper data validation in place yet. There will also be an interface for your own custom validation so you can write your own rules for the models.
      %li
        %h3 Relational Queries
        %p Queries automatically search for related objects and attach them when you query, but you can't run queries like this:
        .syntax
          :highlight
            db.models.Person.query().filter({house__suburb="Hobart"})
      
        %p ...to check for people who live in a house where the Suburb is Hobart. That is pretty stock standard for database queries and needs to be available.
      %li
        %h3 Data Conversion
        %p Data is stored differently in WebSQL and IndexedDB. There needs to be a setup to convert database values to their expected Javascript values to ensure consistency regardless of the storage medium.
      %li
        %h3 Greater Relationship Flexibility
        %p Many To Many Relationships often require additional information to be stored about the nature of the relationship on the through table. In addition Generic Relationships are a powerful way to make use of more general models that work in a variety of contexts. There should be an easy way to implement them from the API.
      %li
        %h3 Documentation!
        %p Projects without documentation are doomed to die sad and lonely deaths, so it's certainly a goal to have quality handwritten documentation for the entire API.
  %section#contributing
    %h2 How you can contribute
    %ol
      %li
        %h3 Spread the word!
        %p If you think this can be a serious tool that'll assist in your day to day work, tell people about it. The more eyes on this project, the more work that can be done on it.
      %li
        %h3 Experiment with <span class="johodb">joho<em>db</em></span>
        %p The API isn't set in stone so have a play and see how you find it. Find where the cracks are and report them. Try it out on different platforms and see how it behaves.
      %li
        %h3 Give Feedback on the Roadmap
        %p Features you need aren't on the cards? Bring it up on the Bitbucket page's Issue Tracker, and we'll see what we can do.
      %li
        %h3 Work on the Project
        %p The codebase is still in very early development so there'll be a lot of reorganisation going on to make sure it's maintainable, but you're more than welcome to have a play with the source. It's written in <a href="http://coffeescript.org">Coffeescript</a> and uses <a href="http://gruntjs.com">Grunt</a> for task management and automation.
        %p If that's not your thing, you can help write or edit the documentation too, once they get started on.
  %section#whoami
    %h2 Who am I?
    %p My name is <strong>James Rakich</strong>, I'm a solo developer under the business name <strong><a href="http://fullandbydesign.com.au">Full and By Design</a></strong>. I make applications such as <a href="http://spanner-pms.com.au">Spanner</a> and <a href="elephantneverforgets.com.au">Elephant</a>. I'm thoroughly committed to finding the best way to make web applications capable and self sufficient when the internet goes down, making the most out of new technologies in HTML5.
    %p
      I do client services, so if you're interested in working with me please <a href="mailto:james@fullandbydesign.com.au">get in touch</a>. I can also be found lurking on Twitter as <a href="http://twitter.com/MalucoMarinero">@MalucoMarinero</a>.

%footer
  &copy; 2013 <a href='http://fullandbydesign.com.au'>Full And By Design</a>. Available for use and modification under the MIT License





</body>
</html>
