html
  @include breakpoint($twoColumn)
    background: $johoBlack

body
  @include breakpoint($twoColumn)
    background:  $johoWhite url('../img/cutCord.png') top center no-repeat
    max-width:   1000px
    @include clearfix
  


section.demonstration
  @include breakpoint($singleColumn)
    padding-top: 4rem
    h2, p
      margin-left: 0.2rem
      margin-right: 0.2rem
  @include breakpoint($twoColumn)
    padding-top: 6rem
    section
      +grid0_region(16,0,0,(ml,fmr))
      float: right
      @include clearfix
    
  .syntax pre
    overflow-x:   scroll
    overflow-y:   hidden
    padding:      0.8rem
    line-height:  1.2rem
    white-space:  pre
    word-wrap:    normal
  .syntax
    margin-bottom: 1em

  .source
    @include breakpoint($twoColumn)
      +grid0_region(16,8,0,(fpl,fpr))
      float: right
      @include clearfix
    +single-transition(background-color, 0.2s, linear)
    display:          block
    text-decoration:  none
    text-align:       center
    font-size:        ms(4)
    line-height:      2rem
    padding-top:      0.75rem
    padding-bottom:   0.5rem
    margin-bottom:    2rem
    background: darken($johoRed, 5)
    color:            $johoWhite
    .johodb
      padding-left: 0.125em
      em
        color:            darken($johoWhite, 20)
    &:hover, &:focus
      background: darken($johoRed, 10)

  #contributing, #roadmap
    ol
      list-style:         none
      counter-reset:      li
    ol > li
      position: relative
      //
    ol > li:before
      // styled numerals
      content:            counter(li)
      counter-increment:  li
      float:              left
      position:           absolute
      right:              100%
      font-weight:        bold
      font-size:          ms(3)
      margin-bottom:      0.25rem
      line-height:        1.7rem
      margin-right:       0.5em


footer
  border-top:  1px solid darken($johoWhite, 20)
  margin-top:  0rem
  font-size:   ms(0)
  @include breakpoint($twoColumn)
    +grid0_region(16,0,0,(ml,fmr))
    float: right
    @include clearfix

