header
  background:  $johoBlack
  color:       $johoWhite
  ul.nav
    li
      a
        color:            darken($johoWhite, 15)
        text-decoration:  none
        font-weight:      normal
        &:hover, &:focus
          color:  $johoWhite
  @include breakpoint($singleColumn)
    position:  fixed
    z-index:   200
    width:     100%
    h1
      float:        left
      font-size:    ms(3) + 8px
      padding-left:  1.0rem
    ul.nav
      li
        display: none
        font-size:        ms(2)
      li.active 
        float:        left
        margin-left:  1rem
        +inline-block
  @include breakpoint($mobile)
    h1
      font-size:    ms(2)
      line-height:  3rem
    ul.nav li
      line-height:  1rem
      font-size:        ms(1)
  @include breakpoint($twoColumn)
    +grid0_region(7,0,0,(fml,mr))
    position:  fixed
    left:      0
    top:       0
    bottom:    0
    h1
      margin-top:  1rem
      text-align:     center
      margin-bottom:  1rem
    ul.nav
      margin:   0
      padding:  0
      li
        +single-transition(background-color, 0.2s, linear)
        text-align: center
        font-size:    ms(2)
        line-height:  2.5rem
        &:hover
          background: lighten($johoBlack, 20)
      li.active
        background: darken($johoRed, 5)
  @include breakpoint($overWidth)
    width:        280px
    margin-left:  12px
