body
  font-family:  $bodyFont
  font-size:    ms(1)
  line-height:  1.4em

h1
  font-family:  $headlineFont
  font-size:    ms(5)
  line-height:  3.4rem

h2
  font-weight:    bold
  font-size:      ms(4)
  margin-bottom:  0.125rem
  line-height:    2.7rem

h3
  font-weight:    bold
  font-size:      ms(3)
  margin-bottom:  0.25rem
  line-height:    1.7rem

p
  margin-bottom: 1.4rem

a
  color: hsl(70, 90, 21)
  +single-transition(color, 0.2s, linear)
  &:hover, &:focus
    color: hsl(20, 100, 28)


.johodb
  text-transform:  lowercase
  font-family:     $headlineFont
  text-shadow:     0px 1px 1px lighten($johoBlack, 50)
  em
    color: $johoRed
  .version
    font-family:   $bodyFont
    font-size:     ms(0)
    padding-left:  0.2em

span.johodb
  padding-left: 0.25em


