!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
-# <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
-# <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

%head
  %meta{'charset': 'utf-8'}
  %meta{'http-equiv': 'X-UA-Compatible', 'content': 'IE=edge,chrome=1'}
  %title johodb Test Page
  %meta{'name': 'description', 'content': 'Testing grounds for johodb.'}
  %meta{'name': 'viewport', 'content': 'width=device-width'}
  -# %link{'rel': 'stylesheet', 'href': 'css/style.css'}/
  %script{'type': 'text/javascript', 'src': 'components/modernizr.js'}
  %script{'type': 'text/javascript', 'src': 'components/q.min.js'}
  %script{'type': 'text/javascript', 'src': 'components/sha1.js'}
  %script{'type': 'text/javascript', 'src': 'johodb.js'}
  %script{'type': 'text/javascript', 'src': 'js/app.js'}

<body>
-# <!--[if lt IE 7]>
-# <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
-# <![endif]-->

%h1 johodb Test Page


</body>
</html>
